.App {
  margin: 0px;
  padding: 0px;
  padding-top: 40px;
  padding-right: 250px;
  margin-left: 300px;
  margin-top: 60px;
}

input{
border-radius: 5px;
margin-left: 100px;
margin-top: -30px;
height: 30px;
padding-left: 80px;
}

#container1{
  background-color: rgb(240, 244, 247);
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 400px;
  margin-right: 240px; 
  border-radius: 5px;
}

.bottomText > h5{
margin-top: 5px;
margin-right: 80px;
text-align: center;
}



