.App{
  text-align: center;
  margin: 0px;
  padding: 0px;

}

h2{
  margin-top: 70px;
  font-weight: 50;
 
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


.mainContainer{
  display: flex;
  display:inline-block;
  justify-content:space-between;


}
.input1{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;



 background-color: rgb(243, 240, 240);
}

.input2{
margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;



 background-color: rgb(243, 240, 240);
}

.input3{
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
 padding-right: 20px;

 background-color:rgb(243, 240, 240);
}

input{
 
 margin-left: 20px;
 width: 200px;
 height: 20px;

}

button{
  margin-top: 20px;
  margin-left: 50px;
}

label{
  margin-left:20px;
  padding-right: 30px;
  width: 200px;
  height: 20px;

}